<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dist/site.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="192x192" href="/public/images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/public/images/icons/icon-128x128.png">
</head>
<body>
    {{> _global-nav}}

    <main>
        {{{body}}}
    </main>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                .then(regis => {
                    regis.update()
                    console.log('sw registered 😎', regis.scope)
                })
                .catch(err => {
                    console.log('😥 sw registration failed: ', err)
                })
            })
        }
    </script>
    <script src='/js/service-worker-helper.js'></script>
</body>
</html>