<section class="books-carousel">
    <form id="form_carousel" class="carousel-form" method="POST" action="/results">
        {{#each carouselData }}
            <article class="card -carousel" data-id="{{id}}">
                {{> _card}}
            </article>
        {{/each}}

        {{!-- clicked books --}}
        <input id="submit_data" type="hidden" name="carouselChoices">
        <input type="hidden" name="allData" value="{{allData}}">

        <input id="btn_done" class="btn -ready" type="submit" value="Klaar">
    </form>
</section>

<script type='module' src='/js/carousel.js'></script>