@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Hanged-Letters";
    src: url("../fonts/HangedLetters/Hanged-Letters.ttf");
    font-display: swap;
}

$app-title-font: 'Hanged-Letters', sans-serif;

$white: #fff;
$black: #000;
$light-powder-blue: #B7EAEA;
$medium-powder-blue: #91D6D6;
$dark-powder-blue: #67A6A6;
$red: #EB001B;
$purple: #8C1F80;


